<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="E:/Interview001/src/test/java/fistDay">
        <classes>
            <class name="firstDay.Demo1">
                <methods>
                    <include name="test1"/>
                    <include name="test2"/>
                    <include name="test3"/>
                </methods>
            </class>
            <class name="firstDay.SecondTest">
                <methods>
                    <include name="loginApp"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>